html{
    scroll-behavior: smooth;
}

html body{
    display: block;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-image: linear-gradient(#00A651 70vh, #ECF4F5 0vh);
}

a{
    text-decoration: none;
    color: unset;
}
body header{
    /* background-color: #5E72E4; */
    height: 155px;
    top: 0;
    display: flex;
    justify-content: space-between;
}

header .header-left{
    display: flex;
}
header .header-left .logo{
    /* width: 311px;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 1px 3px;
    background-color: white;
    border-bottom: 2px solid #E7E7E7; */
    display: none;
}

header .logo a img{
    margin: auto;
    width: 60%;
}

ul li{
    list-style: none;
    line-height: 1.3cm;
}

ul li a{
    text-decoration: none;
    color: #344767;
    font-size: large;
}


.offcanvas-header button{
    background-color: #ECF4F5;
}
.offcanvas-header button:hover{
    background-color: #f58220;
}

.offcanvas-body ul li a{
    color: white;
}

.offcanvas-body ul li a:hover{
    color: #ECF4F5;
    border-bottom: 1px #ECF4F5 solid;
    padding-bottom: 3px;
}

.content .sidebar{
    width: 311px;
    height: 90vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 1px 3px;
    background-color: #fff;
}

.card-icon .container{
    height:50px; 
    width:50px; 
    border-radius: 50%; 
    position:relative;
}

.card-body .card-text span{
    color: #2DCFB8;
}

.card-icon .container i{
    position: absolute;
    top: 13px;
    left: 13px;
}

.box {
    
    height: 40px;
    background-color: white;
    border: 1px solid #777;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.box i{
    font-size: 12px;
    color: #777;
}

.box input{
    flex: 1;
    height: 25px;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 8px;
}

.pages p a{
    margin-right: 10px;
    text-decoration: none;
    color: #00A651;
}

.pages p a:hover{
    color: #F58220;
}
.activities-table a{
    color: #00A651;
}
.activities-table a:hover{
    color: #F58220;
}
table{
    max-height:100px ;
}
td{
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

/* phones */
@media (min-width: 320px){
    /* .content{
        margin: auto;
        width: 100%;
    } */
    .card{
        margin: auto;
        width: 100%;
        margin-top: 12px;
    }
    .content .sidebar{
        display: none;
    }
    body {
        display: block;
    }
    body header .header-left{
        display: block;
    }
    .programs-main{
        width: 100%;
    }
    .programs-main .card{
        padding: 16px;
    }
}
/* tablets  */
@media (min-width: 600px){
    body header{
        display: flex;
    }
}
/* large screens  */
@media (min-width:1024px){
    body header {
        display: flex;
        padding: 24px;
        padding-left: 48px;
        padding-bottom: 0;
    }
    body header .header-left{
        display: flex;
    }
    header .header-left .logo{
        width: 311px;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0px 1px 3px;
        background-color: white;
        border-bottom: 2px solid #E7E7E7;
        display: unset;
    }

    header .logo a img{
        margin: auto;
        width: 60%;
    }
    .content{
        padding: 48px;
        padding-top: 0;
        padding-right: 8px;
        display: flex;
    }
    .content .sidebar{
        display: block;
    }
    .main .stats .card{
        margin: unset;
        width: 215px;
        margin-left: 5px;
    }
    .programs-main{
        width: 75%;
    }
    .programs-main .card{
        padding: 24px;
    }

    .programs-main .top{
        display: flex;
        justify-content: space-between;
    }

    .page-numbers{
        display: flex;
        justify-content: space-between;
    }
    
}