html{
    scroll-behavior: smooth;
}

html body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.go-top-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #f58220;
    bottom: 10px;
    right: 0px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #000;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    font-size: 22px;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.header{
    padding: 30px 11px;
    width: 100%;
    top: 0;
    position: fixed;
    height: 80px;
    align-items:center;
    z-index: 2;
    opacity: 0.9;
}

.header .c-nav{
    vertical-align: middle;
}

.logo img{
    width: 100px;
}
.header-right-list ul li{
    display: inline-block;
    margin-left: 30px;
    vertical-align: bottom;
    
}

.header-right-list ul li a{
    color: white;
}

.offcanvas-header button{
    background-color: #f58220;
}
.offcanvas-header button:hover{
    background-color: #00A651;
}

.offcanvas-body ul li a{
    color: white;
}

.offcanvas-body ul li a:hover{
    color: #f58220;
    border-bottom: 1px #f58220 solid;
    padding-bottom: 3px;
}

.dropdown-menu{
    opacity: 0.6;
    background-color: transparent;
}

.dropdown-menu .dropdown-item:hover{
    background-color: transparent;
    /* border-bottom: #f58220 1px solid; */
    color:#f58220 ;
    opacity: 1;
}

.header-right-list ul li a:hover{
    color: #f58220;
    border-bottom: 1px #f58220 solid;
    padding-bottom: 3px;

}

.donate button{
    background-color: transparent;
    border: 1px solid #f58220;
    color: #f58220;
    border-bottom: 3px solid #f58220;
    display: none;
}

.donate a{
    text-decoration: none;
    color: #f58220;
}

.donate button:hover{
    color: white;
    background-color: #f58220;
}

.c-item{
    height: 500px;
    position: relative;
    overflow: hidden;
}

.c-img{
    height: 100%;
    object-fit: cover;
}

.carousel-inner .carousel-item > img{
    -webkit-animation: thing 10000ms;
    -moz-animation: thing 10000ms;
    animation: thing 10000ms;
}

@keyframes thing {
    from{
        transform: scale(1, 1);
    }
    to{
        transform: scale(1.5, 1.5);
    }
}

#carousel-hero{
    position: relative;
    /* z-index: -1; */
}

.carousel-caption{
    margin-bottom: 100px;
    color: #f58220;
}

.shade{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000000;
    opacity: 0.7;
}

.carousel-caption h5 {
    color: #f58220;
}
.carousel-caption P {
    color: #f58220;
    
}

.carousel-caption .c-btn{
    background-color: #f58220;
    color: white;
    padding: 2px 8px;
    opacity: 0.7;
    margin-top: 12px;
    /* z-index: 5; */
}
.carousel-caption .c-btn:hover{
    background-color: #00A651;
    color: white;
}

.carousel-caption .c-btn a{
    color: white;
    text-decoration: none;
}

.below-hero{
    padding-bottom: 10px ;
}

.slogan{
    padding-top: 20px;
    color: #f58220;
}

.about-us{
    /* background-image: linear-gradient(to bottom, black, white); */
    padding-bottom: 3px;
}
.about-top{
    height: 350px;
    width: 100%;
    position: relative;
}

.about-top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-top-text{
    position: absolute;
    top: 55%;
    left: 50%;
    color: #f58220;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
}

.about-top .about-shade{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000000;
    opacity: 0.7;
}
.who-we-are{
    padding: 40px;
}
.who-we-are p{
    color: #353535;
    text-align: justify;
    padding: 0 30px;
}

.section-2 .learn-btn{
    background-color: #f58220;
    margin: 0;
    border: 0 solid white;
    padding: 5px;
    border-radius: 8px;
}
.section-2 .learn-btn:hover {
    background-color: #00A651;
}

.programs .programs-btn{
    background-color: #f58220;
    border: 0 solid white;
    padding: 8px 10px;
    border-radius: 8px;
}

.programs .programs-btn:hover {
    background-color: #00A651;
}
.projects .project-btn{
    background-color: #f58220;
}
.projects .project-btn:hover {
    background-color: #00A651;
}

.d-flex .programs-btn{
    background-color: #f58220;
    border: 0 solid white;
    padding: 8px 10px;
    border-radius: 8px;
}

.d-flex .programs-btn a{
    text-decoration: none ;
    color: white;
}

.d-flex .programs-btn:hover {
    background-color: #00A651;
}

.objectives ul li{
    list-style: circle;
}

.testimonial {
    background-color: #dddcdc;
    padding: 20px;
    border-radius: 10px;
}

.author {
    margin-top: 10px;
    text-align: right;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}

.carousel-control-prev, .carousel-control-next {
    opacity: 10;
    color: #f58220;
}

.cont-project{
    background-color: #ececec;  
    transition: box-shadow 1s;
    margin: 0 auto;
}

.cont-project:hover{
    box-shadow: 10px 10px 20px 10px grey, -10px -10px 20px -10px grey; 
    border-bottom: 3px solid #f58220;
}

.cont-project:hover h5{
    color: #f58220;
}

.share .media-buttons{
    display: flex;
}

.recent-projects a{
    text-decoration: none;
    color: #00A651;
}

.recent-projects a:hover{
    color: #f58220;
}

.project-description{
    max-height: 5.6em; /* 2 lines with a little extra for ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
}
.program-description{
    max-height: 4.6em; /* 2 lines with a little extra for ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding-right: 80px;
    padding-left: 20px;
}

.f-recent a{
    text-decoration: none;
    color: white;
}

.f-recent a:hover{
    color: #00A651;
}

@media (min-width: 320px) {
    .logo img {
        margin-left: 27vw;
    }
    .donate button{
        display: none;
    }

    .c-program .card{
        margin: auto;
    }
    .c-program .card img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .c-projects .card{
        margin: auto;
    }
    .c-projects .card .image-container img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    section .c-projects .row .col-12 a{
        margin: auto;
    }

    .pr-partner img{
        width: 90vw;
    }

    .who-we-are{
        padding: 8px;
    }
    .section-2 .who-img{
        width: 97%;
    }

    .testimonial{
        margin-bottom: 7px;
        margin-left: 7px;
    }

    .dropdown-menu{
        opacity: 1;
        background-color: transparent;
    }

    .row .col-lg-8 p .share-on::before{
        content: "\a";
        white-space: pre;
    }

    .share .media-buttons{
        display:unset;
    }
    .share .media-buttons button{
        margin-bottom: 8px;
    }

    .row .c-contact{
        margin: 0;
    }

    footer{
        display: block;
        padding-right: 50px;
        padding-left: 20px;
    }
    
}

@media (min-width: 600px){

    .logo img {
        margin-left: 39vw;
    }

    .section-2 .who-img{
        width: 100%;
        height: 100%;
    }

    .c-program .card{
        margin: auto;
    }

    .c-projects .card{
        margin: auto;
    }

    .row .c-contact{
        margin: 0;
    }
}

@media (min-width:1024px){
    .logo img{
        margin-left: unset;
    }
    .donate a{
        display: none;
    }
    .section-2 .who-img{
        width: 100%; 
        height:356px; 
        object-fit: cover; 
        border-radius: 8px;
    }
    .pr-partner img{
        width: 45vw;
    }

    .row .c-contact{
        margin-left: 50px;
    }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}