html{
    scroll-behavior: smooth;
}

.body{
    margin: 0;
}

.go-top-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #00A651;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.header{
    padding: 30px 11px;
    width: 100%;
    top: 0;
    position: fixed;
    height: 80px;
    align-items:center;
    z-index: 2;
    opacity: 0.9;
}

.logo img{
    width: 100px;
}
.header-right-list ul li{
    display: inline-block;
    margin-left: 30px;
    vertical-align: bottom;
    
}

.header-right-list ul li a{
    color: white;
}

.offcanvas-body ul li a{
    color: white;
}

.offcanvas-body ul li a:hover{
    color: #f58220;
    border-bottom: 1px #f58220 solid;
    padding-bottom: 3px;
}

.dropdown-menu{
    opacity: 0.6;
    background-color: transparent;
}

.dropdown-menu .dropdown-item:hover{
    background-color: transparent;
    /* border-bottom: #f58220 1px solid; */
    color:#f58220 ;
    opacity: 1;
}

.header-right-list ul li a:hover{
    color: #f58220;
    border-bottom: 1px #f58220 solid;
    padding-bottom: 3px;

}

.donate button{
    background-color: transparent;
    border: 1px solid #f58220;
    color: #f58220;
    border-bottom: 3px solid #f58220;
}

.donate a{
    text-decoration: none;
    color: #f58220;
}

.donate button:hover{
    color: white;
    background-color: #f58220;
}

.c-item{
    height: 500px;
    position: relative;
    overflow: hidden;
}

.c-img{
    height: 100%;
    object-fit: cover;
}

.carousel-inner .carousel-item > img{
    -webkit-animation: thing 10000ms;
    -moz-animation: thing 10000ms;
    animation: thing 10000ms;
}

@keyframes thing {
    from{
        transform: scale(1, 1);
    }
    to{
        transform: scale(1.5, 1.5);
    }
}

#carousel-hero{
    position: relative;
    /* z-index: -1; */
}

.carousel-caption{
    margin-bottom: 100px;
    color: #f58220;
}

.shade{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000000;
    opacity: 0.7;
}

.carousel-caption h5 {
    color: #f58220;
}
.carousel-caption P {
    color: #f58220;
    
}

.carousel-caption .c-btn{
    background-color: #f58220;
    color: white;
    padding: 2px 8px;
    opacity: 0.7;
    margin-top: 12px;
    /* z-index: 5; */
}
.carousel-caption .c-btn:hover{
    background-color: #00A651;
    color: white;
}

.carousel-caption .c-btn a{
    color: white;
    text-decoration: none;
}

.below-hero{
    padding-bottom: 10px ;
}

.slogan{
    padding-top: 20px;
    color: #f58220;
}

.about-us{
    /* background-image: linear-gradient(to bottom, black, white); */
    padding-bottom: 3px;
}
.about-top{
    height: 350px;
    width: 100%;
    position: relative;
}

.about-top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-top-text{
    position: absolute;
    top: 40%;
    left: 50%;
    color: #f58220;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
}

.about-top .about-shade{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000000;
    opacity: 0.7;
}

.who-we-are p{
    color: #353535;
    text-align: justify;
    padding: 0 30px;
}

.objectives ul li{
    list-style: circle;
}

.testimonial {
    background-color: #dddcdc;
    padding: 20px;
    border-radius: 10px;
}

.author {
    margin-top: 10px;
    text-align: right;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}

.carousel-control-prev, .carousel-control-next {
    opacity: 10;
    color: #f58220;
}

button .programs-btn a{
    background-color: #f58220;
}

.cont-program{
    background-color: #ececec;  
    transition: box-shadow 1s;
    margin: 0 auto;
}

.cont-program:hover{
    box-shadow: 10px 10px 20px 10px grey, -10px -10px 20px -10px grey; 
    border-bottom: 3px solid #f58220;
}

.cont-program:hover h5{
    color: #f58220;
}

.row .c-contact{
    margin-left: 50px;
}

.share .media-buttons{
    display: flex;
}

.recent-projects a{
    text-decoration: none;
    color: #00A651;
}

.recent-projects a:hover{
    color: #f58220;
}

@media only screen and (max-width: 768px) {
    .go-top-btn{
        bottom: 80px;
    }

    .donate button{
        display: none;
    }

    section .c-projects{
        margin-left: 50px;
    }
    section .c-projects .row .col-12 a{
        margin-left: -75px;
    }

    .pr-partner img{
        width: 90vw;

    }

    .testimonial{
        margin-bottom: 7px;
        margin-left: 7px;
    }

    .dropdown-menu{
        opacity: 1;
        background-color: transparent;
    }

    .row .col-lg-8 p .share-on::before{
        content: "\a";
        white-space: pre;
    }

    .share .media-buttons{
        display:unset;
    }
    .share .media-buttons button{
        margin-bottom: 8px;
    }
    
}

@media only screen and (max-width: 1024px){

    .logo img {
        margin-left: 37vw;
    }

    .c-program .card{
        margin: auto;
    }

    .c-projects .card{
        margin: auto;
    }

    .row .c-contact{
        margin: 0;
    }
}